# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
*.dll

*.pdb

src/DevIO.Api/obj/Debug/netcoreapp2.2/DevIO.Api.csproj.FileListAbsolute.txt

*.cache

src/DevIO.Api/obj/DevIO.Api.csproj.nuget.dgspec.json

*.props

src/DevIO.Api/obj/project.assets.json

src/DevIO.Data/obj/

src/DevIO.Api/bin/Debug/netcoreapp2.2/DevIO.Api.deps.json

src/DevIO.Business/obj/Debug/netcoreapp2.2/DevIO.Business.csproj.FileListAbsolute.txt

src/DevIO.Business/obj/DevIO.Business.csproj.nuget.dgspec.json

src/DevIO.Business/obj/project.assets.json
